nav{ position:relative; margin: 0px 0 0 0;float:right;padding: 23px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu ul li {width:100%}
.sf-menu li {float:left;position:relative}

.sf-menu>li>a{display:block;position:relative; font-size: 12px; line-height: 15px; color:#fff;padding: 7px 10px 6px;text-shadow:1px 1px 2px #40673a;}
.sf-menu>li>a:hover,.sf-menu>li.current>a,.sf-menu>li.sfHover>a{}

.sf-menu>li{border-radius:9px;background:url("../images/menu_li.jpg") 0 -100px repeat-x;text-transform:uppercase;margin: 0 0 0 26px;}

.sf-menu>li:hover,.sf-menu>li.current,.sf-menu>li.sfHover{background-color:#289c4e;background-position:0 0;box-shadow:1px 1px 2px #3e2e26;}
.sf-menu a{}
.sf-with-ul>a{position:relative;padding-right:20px !important;}
.sf-with-ul>a:before{display:block;position:absolute;right:8px;top:13px;width:5px;height:3px;background:url("../images/q_links.png") 0 0px no-repeat;content:"";}

/*================================>> 2 Level <<========================================*/
.sf-menu>li>ul:before{display:block;position:absolute;width:9px;height:4px;top:-10px;left:12px;background:url("../images/sub_ul_bef.png") 0 0 no-repeat;content:"";}
.sf-menu li ul,.sf-menu li.sfHover ul{left:0;top:39px;width: 159px;padding:11px 10px 0 15px; z-index:99; border-top:6px solid #2d9f53;border-radius:7px;background:#443029;}
.sf-menu li ul li{width:149px;background:url("../images/sub_li.jpg") 0 -40px repeat-x; border-radius:8px;margin-bottom:12px;position:relative;}
.sf-menu li ul li a{font-size:12px;line-height:15px;color:#fff;text-shadow:0 1px 2px rgba(0,0,0,0.64);padding: 7px 12px 6px;display:block;letter-spacing:-1px;}
.sf-menu li li a:hover, .sf-menu li.sfHover li.sfHover>a{}
.sf-menu li li:hover, .sf-menu li.sfHover li.sfHover{background-position:0 0;background-color:#289c4e;}
.sf-menu li ul li:after{background:#554035;display:block;position:absolute;width:147px;height:1px;bottom:-5px;left:1px;content:"";}
.last_it:after{display:none !important;}
/*================================>> 3 Level <<========================================*/
.sf-menu li li ul{left:170px !important;top:-16px !important;}

